.tab-content {
  transition: opacity 1.5s ease-out;
  opacity: 0;
  position: absolute;
  transform: translateY(-9999px);

  &--active {
    position: relative;
    opacity: 1;
    transform: translate(0);
  }

  &__title {
    font-size: rem(24);
    font-weight: 600;
    color: $c-purple;
  }

  &__date {
    margin-bottom: rem(25);
    font-size: rem(16);
    font-style: italic;
    opacity: 0.8;
  }
}
