.tab-content {
  transition: opacity 1.5s ease-out;
  opacity: 0;
  position: absolute;
  transform: translateY(-9999px);

  &--active {
    position: relative;
    opacity: 1;
    transform: translate(0);
  }

  &__description {
    margin-top: rem(16);
    margin-bottom: rem(40);
  }
}
