.menu {
  width: 100%;
  height: rem(60);
  background-color: $c-dark-blue;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: rem(20);

  @include breakpoint(mobile) {
    .hamburger-box {
      display: none;
    }
  }

  &__list {
    height: 100vh;
    width: rem(300);
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $c-dark-blue;
    font-size: rem(24);
    transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

    @include translate-x(100%);

    &--open {
      @include translate-x(0);
    }

    @include breakpoint(mobile) {
      width: auto;
      max-width: none;
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      font-size: rem(14);

      @include translate-x(0);

      &--item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: rem(16);
        font-weight: $f-extra-medium;

        a {
          transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

          .item-text {
            display: inline-block;
            transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
          }

          &:hover {
            color: $c-light-blue;

            .item-text {
              @include translate-x(5px);
            }
          }
        }
      }
    }
  }
}
